a {
	color: black;
}

.h-auto {
	height: auto !important;
}
.w-auto {
	width: auto !important;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.is-clickable {
	pointer-events: auto;
}

.text-center {
	text-align: center;
}
.min-height-24 {
	min-height: 24px;
}
.is-light-red {
	background-color: #fff6f6;
}
.is-light-green {
	background-color: #f6fff6;
}
.hidden {
	display: none !important;
}

.timer-link {
	font-style: italic;
	color: #226;
}

.navbar {
	display: flex;
}

.numeric {
	width: 6em;
}
.numeric input {
	text-align: end;
	-moz-appearance: textfield;
}
.numeric input::-webkit-outer-spin-button,
.numeric input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.numeric[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}
.is-tiny {
	label {
		display: inline-block;
		font-size: 0.75rem;
		margin-right: 0.25rem;
		font-weight: initial;
	}
	.numeric {
		width: 4em;
	}
	.numeric input {
		height: 1.5em;
	}
	.is-right {
		height: 1.5em !important;
	}
}

.input--right-3-5 {
	input {
		padding-right: 3.5rem !important;
	}
	span {
		width: 3.5rem !important;
	}
}

.inline-button {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0.25em;
	height: auto;
	line-height: initial;
}

.has-dropdown {
	display: flex;
	align-items: center;
}

.icon.is-small.is-left,
.icon.is-small.is-right {
	height: 1.875rem;
	width: 1.25rem;
}
.control.has-icons-right .input,
.control.has-icons-right .select select {
	padding-right: 1.5rem;
}
.control.has-icons-left .input,
.control.has-icons-left .select select {
	padding-left: 1.5rem;
}

.label:not(:last-child),
label:not(:last-child) {
	margin-bottom: 0.25em;
}

.label.is-small {
	font-weight: initial;
}
.label.is-small:not(:last-child),
label.is-small:not(:last-child) {
	margin-bottom: 0.125em;
}

.accordion__button {
	display: inline-block;
	margin-bottom: 0.5rem;
}
.accordion__button:before {
	display: inline-block;
	content: '';
	height: 10px;
	width: 10px;
	margin-right: 12px;
	border-bottom: 2px solid currentColor;
	border-right: 2px solid currentColor;
	transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
	transform: rotate(45deg);
}

.recharts-tooltip-item {
	display: flex;
}
.recharts-tooltip-item-value {
	margin-left: auto;
	padding-left: 0.25rem;
}

/* From Bulma; theirs is inside a min-width(1024px) */
.navbar-item.is-active .navbar-dropdown,
.navbar-item.is-hoverable:focus .navbar-dropdown,
.navbar-item.is-hoverable:focus-within .navbar-dropdown,
.navbar-item.is-hoverable:hover .navbar-dropdown {
	display: block;
}
.navbar.is-spaced .navbar-item.is-active .navbar-dropdown,
.navbar-item.is-active .navbar-dropdown.is-boxed,
.navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown,
.navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed,
.navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown,
.navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed,
.navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown,
.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0);
}
.navbar-dropdown {
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 2px solid #dbdbdb;
	box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
	display: none;
	font-size: 0.875rem;
	left: 0;
	min-width: 100%;
	position: absolute;
	top: 100%;
	z-index: 20;
}
.navbar-dropdown .navbar-item {
	padding: 0.375rem 1rem;
	white-space: nowrap;
}
.navbar-dropdown a.navbar-item {
	padding-right: 3rem;
}
.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
	background-color: whitesmoke;
	color: #0a0a0a;
}
.navbar-dropdown a.navbar-item.is-active {
	background-color: whitesmoke;
	color: #3273dc;
}
.navbar.is-spaced .navbar-dropdown,
.navbar-dropdown.is-boxed {
	border-radius: 6px;
	border-top: none;
	box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	display: block;
	opacity: 0;
	pointer-events: none;
	top: calc(100% + (-4px));
	transform: translateY(-5px);
	transition-duration: 86ms;
	transition-property: opacity, transform;
}
.navbar-dropdown.is-right {
	left: auto;
	right: 0;
}
